.background-div {
  width: 100% !important;
  height: 80vh;
  // background-image: url('./../assets/bg-image2.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 !important;
}

.container {
  // max-width: 100% !important;
}